
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

body{
    margin: 0 auto;
    background-color: rgba(28, 33, 37, 0.829);
    color: rgb(255, 255, 255);
    font-family: "Tilt Warp", sans-serif;
}

h1{
      font-family: "Geologica", sans-serif;
      font-size: 60px;
      margin-left: 5dvh;
      margin-top: 8dvh;
      text-align: center;
}

p{
    font-family: "Tilt Warp", sans-serif;
    font-size: 40px;
    color: rgb(31, 31, 31);
    padding: 2% 0 0 2%;

}
input{
    border-radius: 10px;
    background-color: rgba(240, 240, 240, 0.664);
    height: 30px;
    font-size: 25px;
    color: rgb(37, 37, 37);
    font-family: "Tilt Warp", sans-serif;
    padding: 5px;
    margin-top: 8px;
    margin-left: 0;
    border: 0;
    width: 300px;
}

#salario{
    margin-left: 0;
    width: 20dvh;
    margin-top: 0;
}

label{
    font-size: 30px;
    display: inline-block;
    width: 130px; /* define um ponto de início comum para os inputs */
    margin-left: 2dvh;
    color: rgb(36, 36, 36);
    font-family: "Rethink Sans", sans-serif;
    margin-left: 3dvh;
}

#label1{
    width: 180px;
    margin-left: 0;
}

button{
    background-color: rgba(81, 228, 13, 0.904);
    font-size: 25px;
    margin-left: 1dvh;
    font-family: "Tilt Warp", sans-serif;
    border-radius: 10px;
    border: 0;
    padding: 5px;
    transition: ease-in-out 0.5s;
    
}
button:hover{
    font-size: 28px;
    color: rgb(29, 248, 0);
    background-color: rgb(34, 34, 34);
    cursor: pointer;
    
}

#btndespesa{
    margin-top: 5dvh;
    margin-left: 46dvh;
    border: 0px;
    padding: 5px;
    
}

#formulario{
    background-color: rgba(219, 219, 219, 0.678);
    width: 80dvh;
    height: 45dvh;
    border-radius: 0 40px 0 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
img{
    width: 60px;
    height: 60px; 
    vertical-align: middle;
}
#divSal{
    background-color: rgba(219, 219, 219, 0.678);
    width: 80dvh;
    height: 10dvh;
    border-radius: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#divResumo{
   float: right;
   background-color: rgb(37, 37, 37);
   margin-right: 10dvh;
   border-radius: 40px 0 40px 0;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
#divEsquerda{
    margin-left: 10dvh;
    float: left;
}
#p2{
    font-size: 40px;
    font-family: "Rethink Sans", sans-serif;
    color: rgb(60, 255, 0);
    padding: 0 10px;
    margin-right: 50dvh;

}
ul{
    font-size: 20px;
    font-family: "Geologica", sans-serif;
}
li{
    transition: ease-in-out 0.5s;
}
li:hover{
    color: rgb(255, 0, 0);
    font-weight: bold;
    cursor: pointer;
}
#btnexibir{
    margin-left: 2dvh;
    transition: ease-in-out 0.5s;
}
#btnexibir:hover{
    font-size: 28px;
    color:rgb(17, 17, 17);
    background-color: rgba(81, 228, 13, 0.904);
    
}
#btnapagar{
    margin-left: 2dvh;
    transition: ease-in-out 0.5s;
    color:rgb(14, 14, 14);    
    background-color: red;
}
#btnapagar:hover{
    font-size: 28px;
    color:rgb(14, 14, 14);
    background-color: red;
    
}

